body{
    background-image: url(../Images/img2.jpg);
    background-repeat:repeat-y;
    background-size: auto;
}
p{
    text-align: center;
    padding-top:1% ;
    color:rgb(255, 0, 76);
    font-weight: bold;
}
.container {
    position: relative;
    width: 50%;
    padding:1%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .label3{
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }