.label, .label5 {
    display:inline-block;
    box-sizing: border-box;
    border-width:50%;
    bottom: 100;
    right: 100;
    padding-left:25%;
    }
    
#label1 , #label2, #label3, #label4 {
    background-color: rgb(149, 243, 126);
    width: 400px;
    border: 10px ;
    padding: 50px;
    margin: 20px;
  }
  #label2, #label4{
      float: right;
  }

  #label1, #label3{
      float:left;
  }

  .jumbotron{
      background-color: grey;
      color: darkolivegreen;
  }
  nav a:hover{
    border-bottom:2px solid white;
}