.card, .card1, .card2, .card3, .card4{
    position: relative;
    margin-top: 10px;
 padding-top:2%;
 background-color: burlywood;
 color:black;
 text-align: center;
 font-family: cursive;
 border: 3px solid #73AD21;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
 padding: 70px 0;
}
nav a:hover{
    border-bottom:2px solid white;
}
h3{
    text-align: center;
    color:rgb(199, 53, 53);
}